* {
    box-sizing: border-box;
  }
  
html {
  font-size: 1rem;
}
  
body {
  font-family:'Nunito', sans-serif;
}
  
a {
  text-decoration: none;
}
  
figure {
  margin: 0;
}
  
img {
  max-width: 100%;
  height: auto;
}
:root{
    --head-text-color: #FFFFFF;
    --buttom-color: #03BAFE;
    --ram-color: #EBFAFF;
    --main-text: #000000;
    --but2-color: #FFA200;
    
}
.body{
  margin: 0;
  padding: 0;
  
}
.body::-webkit-scrollbar{
  width: 5px;
}
.body::-webkit-scrollbar-track{
  background: none;
}
.body::-webkit-scrollbar-thumb{
  background-color: var(--buttom-color);
  border-radius: 30px;
  
}

.size:hover{
  transform: scale(110%);
}

.line:hover{
  background-color: transparent;
  text-decoration: underline;
  text-decoration: none;
  border-bottom: 2px var(--but2-color) solid;
  transform: scale(110%);
 
}

.btn__transpert{
  background-color: transparent;
  transition: 0.7s;
}

.btn__transpert:hover{
  background-color: var(--buttom-color);
 
  color: var(--head-text-color);
  
}

.header{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 37.72px;
  z-index: 100;
}

.header__bg {
  display: flex;
  background-image: url('/assets/img/fon.jpg');
  background-repeat: no-repeat;
  background-position: center center; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
  height: 700px;
  padding-top: 34px;
  justify-content: center;
}

.header__main{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1160px;
  
  max-width: 100%;
}

.logo__place{
  display: flex;
}

.logo{
  
  transition: transform 0.3s;
}

.logo:hover{
  transform: scale(103%);
}

.caret{
  position: relative;
  
}

.header__container{
  display: flex;
  width: 700px;
}
.menu{
  display: inline;
  justify-content: space-between;
}
.header__container-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.menu__link{
  color: var(--head-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 22px;
  transition: transform 0.3s;
  align-items: center;
}

.header__lang{
  display: flex;
}

.header__lang-btn{
  padding: 10px;
  gap: 5px;
  background-color: var(--head-text-color);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--head-text-color);
  background: transparent;
  color: var(--head-text-color);
  width: 117px;
  height: 44px;
  max-width: 100%;
  
}
.header__lang-spisok{
display: none;
}

.header__lang-select{
color: var(--head-text-color);
}

.user{
  display: flex;
  align-items: center;
}

.user__place{
  margin-left: 10px;
  transition: transform 0.3s;
}

.user__place:hover{
  transform: scale(120%);
}

.title{
  width: 1160px;
  
}

.title__text{
  display: block;
 
}
  

.title__text1{
  color: var(--head-text-color);
  display: flex;
  font-size: 5.625rem;
  line-height: 80px;
  font-weight: 900;
  max-width: 100%;
  line-height: 10px;
  margin-top: 200px;
  width: 1160px;

}
.title__text2{
  color: var(--head-text-color);
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 20px;
  max-width: 100%;
  margin-top: -40px;
  width: 1160px;
}



.first__pads{
  display: flex;
  
  max-width: 100%;
  flex-direction: row;
  gap: 23px;
  margin-top: 40px;
  
  

}

.first__pad1-size{
  max-width: 192px;
  height: 50px;
  transition: 0.3s;


}

.first__pad2-size{
  max-width: 130px;
  height: 50px;
  transition: 0.3s;
}

.first__pad1-size:hover{
  transform: scale(110%);
  background-color: var(--buttom-color);
  border-color: var(--buttom-color);
}
.first__pad2-size:hover{
  transform: scale(110%);
  background-color: var(--buttom-color);
  border-color: var(--buttom-color);
}


.btn__nabor{
    position: relative;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--head-text-color);
    color: var(--head-text-color);
    height: 50px;
    font-size: 0.875rem;
    font-weight: 700;
}



.btn__video{
  position: relative;
  background-color: var(--head-text-color);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--head-text-color);
  background: transparent;
  color: var(--head-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 700;
}


.perevod{
  color: gray;
}

.perevod1{
  margin-bottom: 10px;
}

.blue__ocean{
  font-weight: 700;
  background: #EBFAFF;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 122px;
  max-width: 1600px;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 1160px;
  max-width: 100%;
  font-size: 1.5rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.blue__ocean-gradient{
  background-image: linear-gradient(180deg, #03BAFE 0%, #0068FF 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
}



.dream{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 0 auto;

}

.dream__art-container{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  max-width: 100%;
  margin: 0 auto;
}

.dream__people-text{
  margin: 0;
  font-size: 2.5rem;
  max-width: 100%;
  font-weight: 700;
}


.dream__people-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  max-width: 100%;
  padding: 11px 25px;
  gap: 10px;
  background: var(--buttom-color);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--buttom-color);
  background: transparent;
  color: var(--buttom-color);
  font-size: 0.875rem;
  font-weight: 700;
}

.dream__people{
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  max-width: 100%;
  width: 1160px;
}

.dream__art{
  border-radius: 10px;
  margin-top: 40px;
  width: 360px;
  max-width: 100%;
  font-size: 1rem;
  filter: drop-shadow(0px 24px 32px rgba(50, 50, 71, 0.05));
  min-height: 100px;

}



.dream__main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--head-text-color);
  margin-top: -20px;
  padding: 20px;
  height: 263px;
  
}

.dmt{
  font-weight: 700;
}

.dream__main p {
  margin: 0;
}


.dream__phot{
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 228px;
}

.dream__line1{
  width: 310px;
  height: 5px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(0deg, #03BAFE, #03BAFE), linear-gradient(0deg, #F7EFEF, #F7EFEF), #F7EFEF;;
  z-index: 100;
}

.dream__linebott1{
  width: 320px;
  height: 5px;
  border: none;
  border-radius: 10px;
  background: rgba(3, 186, 254, 0.2);
}

.dream__line2{
  width: 281px;
  height: 5px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(0deg, #03BAFE, #03BAFE), linear-gradient(0deg, #F7EFEF, #F7EFEF), #F7EFEF;;
  z-index: 100;
}

.dream__linebott2{
  width: 320px;
  height: 5px;
  border: none;
  border-radius: 10px;
  background: rgba(3, 186, 254, 0.2);
}

.dream__line3{
  width: 201px;
  height: 5px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(0deg, #03BAFE, #03BAFE), linear-gradient(0deg, #F7EFEF, #F7EFEF), #F7EFEF;;
  z-index: 100;
}

.dream__linebott3{
  
  width: 320px;
  height: 5px;
  border: none;
  border-radius: 10px;
  background: rgba(3, 186, 254, 0.2);
}

.summ{
  display: flex;
  width: 204px;
  flex-wrap: wrap;
  gap: 2px;
  font-weight: 700;
}

.summ__limit{
  color: #999999;
}

.yourdream{
 margin-top: 70px;
  
  
}

.dream__title{  
  font-size: 2.5rem;
  display: flex;
  position: relative;
  max-width: 100%;
  width: 1160px;
  text-align: center;
  margin-top: 70px;
  margin: 0 auto;
  
}

.yourdream__main{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  max-width: 100%;
  margin: 0 auto;
}

.yourdream__maket{
  display: flex;
  justify-content: center;
  margin-top: 147px;
  max-width: 100%;
  height: 562px;
  width: 700px;
  max-height: 100%;
}

.yourdream-winds{
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 95px;
}

.yourdream-wind1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 240px;
  width: 441px;
  max-height: 100%;
  max-width: 100%;
  font-weight: 700;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(3, 186, 254, 0.15);
  

  
}

.wind1__text1 {
  font-size: 1.5rem;
}

.wind1__text2 {
  font-size: 1.5rem;
  color: var(--buttom-color);
}

.wind1__text3 {
 font-size: 1rem;
 color: #999999;
}

.yourdream-wind2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 20px;
  background-color: #EBFAFF;
  line-height: 23px;
  width: 400px;
  max-width: 100%;
  height: 418px;
  margin: 0 auto;
  margin-top: 19px;
  
}


.yourdream-wind2__text-title{
  display: flex;
  font-size: 1.5rem;
  width: 92%;
  padding-left: 15px;
  font-weight: 700;
}


.yourdream-wind2__text{
 height: 340px;
}

.yourdream-wind2__hr{
  color: var(--buttom-color);
}

.yourdream-wind2__numtext{
  width: 338.93px;
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.yourdream-wind2__number{
  font-size: 2.5rem;
  color: #03BAFE;
  position: relative;
  padding-right: 15px;
  font-weight: 700;
  margin-left: 10px;
}

.yourdream-wind2__number::before{
  content: '';
  width: 100%;
  height: 100%;
  width: 30px;
  height: 30px;
  background: rgba(107, 203, 239, 0.2);;
  position: absolute;
  bottom: -25%;
  left: 10%;
  border-radius: 100px;
 
}


.yourdream-wind2__txt{
  font-weight: 400;
  margin-left: 10px;
}


.yourdream__btns{
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.yourdream__btn1{
  font-weight: 700;
  padding: 11px 25px;
  gap: 10px;
  background: var(--but2-color);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid  var(--but2-color);
  color: #000000;
  font-size: 0.875rem;
  transition: 0.3s;
}

.yourdream__btn2{
  padding: 11px 25px;
  font-weight: 700;
  background: var(--buttom-color);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--buttom-color);
  color: var(--head-text-color);
  font-size: 0.875rem;
  transition: 0.3s;
}

.yourdream__btn1:hover{
  background: none;
  box-shadow: inset 0 0 25px 0 var(--but2-color), 0 0 6px 0 var(--but2-color);
  
}

.yourdream__btn2:hover{
  background: none;
  box-shadow: inset 0 0 30px 0 var(--buttom-color), 0 0 6px 0 var(--buttom-color);
  color: var(--main-text);
}

.possible {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 108px;
  margin-bottom: 60px;
  width: 1160px;
}

.possible__title {
  display: flex;
  flex-direction: column;
}



.possible__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1160px;
}

.possible__art {
  width: 260px;
  height: 383px;
  background: rgba(235, 250, 255, 0.7);
  border-radius: 20px;
  align-items: center;
  margin-top: 50px;
}

.possible__art-content{
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  padding-left: 30px;
}

.possible__art-img{
  width: 75px;
  height: 75px;
  
}

.possible__art-text{
  margin-top: 40px;
  width: 200px;
  font-size: 1rem ;
}

.possible__art-txt {
  font-weight: 700;
}

.phot1{
  background-image: url(/assets/img/balet.jpg);
  background-size: cover;
}

.phot2{
  background-image: url(/assets/img/room.jpg);
  background-size: cover;
}

.phot3{
  background-image: url(/assets/img/bears.jpg);
  background-size: cover;
}


.reg__dream{
  display: flex;
  margin: 0 auto;
  margin-bottom: 60px;
  background: #EBFAFF;
  width: 1160px;
  height: 957px;
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
}

.reg__title{
  font-size: 2.5rem;
  width: 460px;
  height: 100px;
  font-weight: 700;
}

.reg__card{
  display: flex;
  width: 560px;
  height: 685px;
  z-index: 100;
  position: relative;
  flex-direction: column;
 
}

.reg__card-right{
  display: flex;
  flex-direction: column;
  position: relative;
}

.reg__card1{
  display: flex;
  border: none;
  border-radius: 20px 20px 0px 0px;
  height: 324.59px;
  background: #F9F9F9;
}

.reg__card1-place{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.card1__svg{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.card1__svg-anim{
  transition: 0.3s;
}

.card1__svg-anim:hover{
  rotate: 45deg;
  transform: scale(90%);
}

.card1__text{
  margin-top: 30px;
  font-size: 1rem;
  color: #999999;
}

.card1__href{
  color: var(--buttom-color);
  border-bottom: 2px dashed;
  text-decoration: none;
}

.reg__card2{
  display: flex;
  border: none;
  border-radius: 0px 0px 20px 20px;
  height: 360px;
  background: var(--head-text-color);
  

}

.card2__main{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20.41px;
  
}

.card2__inp-main{
  border-radius: 5px;
  border: 1px solid #E9E9E9;
  background: #F9F9F9;
  color: #737373;
  margin-bottom: 20px;
  padding-left: 10px;
  transition: transform 0.2s;
}

.card2__inp-size1{
  width: 520px;
  height: 44px;
}

.card2__inp-size2{
  width: 520px;
  height: 80px;
  padding-bottom: 40px;
}

.card2__inp-main:focus{
  outline: none;
}

.card2__inp-main:hover{
  transform: scale(105%);
}

.card2__purpose{
  font-size: 1rem;
  margin-bottom: 20px;
}

.card2__btn{
  margin: 0 auto;
  height: 44px;
  width: 140px;
  background: var(--but2-color);
  border: none;
  border-radius: 5px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  transition: 0.3s;
  font-weight: 700;
}

.card2__btn:hover{
  background: none;
  transform: scale(105%);
  border: solid 1px var(--but2-color);
}

.reg__card-left{
  display: flex;
  flex-direction: column;
  
}

.reg__maket{
  display: flex;
  order: 2;
  position: absolute;
  width: 622.15px;
  height: 586px;
  margin-top: 117px;
  margin-left: -150px;
  
}

.reg__stat{
  order: 1;
  margin-top: 770px;
  padding-left: 40px;
  font-weight: 700;
}

.reg__stat-text1{
  font-size: 1rem;
  color: #999999;
}

.reg__line{
  width: 440px;
  height: 5px;
  background: rgba(3, 186, 254, 0.2);
  border-radius: 10px;
  
}

.reg__stat-text2{
  display: flex;
  width: 171px;
  height: 24px;
  
}

.reg__stat-text2color{
  padding-left: 1px;
  color: #999999;
  font-size: 1rem;
}

.hq{
  font-weight: 400;
  font-size: 1rem;
  display: none;
  width: 1100px;
  max-width: 100%;
  height: 104px;
  transition: all 0.5s;
  margin-left: 20px;
  margin-bottom: 20px;
}

.question{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 1160px;
  margin: 0 auto;
  
}

.question__title{
  font-size: 2.5rem;
}

.question__list {
  display: flex;
  margin-top: 47px;
}

.question__list-content input{
  display: none;
}

.question__container{
  cursor: pointer;
}

.question__list-content {
  display: flex;
  flex-direction: column;
}

.question__textsvg{
  display: flex;
  font-weight: 400;
  font-size: 1.5rem;
  justify-content: space-between;
  padding-right: 50px;
  width: 1160px;
  border-bottom: 1px solid #F9F9F9;
  border-top: 1px solid #F9F9F9;
  transition: filter 0.3s;
  margin-bottom: 20px;
  padding-left: 20px;
}

.question__svg{
  transition: all 0.5s;
}

#checkbox1:checked ~

.qu1{
  box-shadow: inset 0 0 25px 0 var(--ram-color), 0 0 6px 0 var(--ram-color);
  border-radius: 20px;
}

#checkbox1:checked ~

.qu1 img {
  transform: rotate(180deg);
}


#checkbox1:checked ~

.qu1 div:nth-child(2){
  display: block;
  
}


#checkbox1:checked ~

.qu1 div{
  border: none;
}

#checkbox2:checked ~

.qu2{
  box-shadow: inset 0 0 25px 0 var(--ram-color), 0 0 6px 0 var(--ram-color);
  border-radius: 20px;
}

#checkbox2:checked ~

.qu2 div:nth-child(2){
  display: block;
  
}

#checkbox2:checked ~

.qu2 div{
  border: none;
}

#checkbox2:checked ~

.qu2 img {
  transform: rotate(180deg);
}

#checkbox3:checked ~

.qu3{
  box-shadow: inset 0 0 25px 0 var(--ram-color), 0 0 6px 0 var(--ram-color);
  border-radius: 20px;
}

#checkbox3:checked ~

.qu3 div:nth-child(2){
  display: block;
  
}


#checkbox3:checked ~

.qu3 div{
  border: none;
}

#checkbox3:checked ~

.qu3 img {
  transform: rotate(180deg);
}

#checkbox4:checked ~

.qu4{
  box-shadow: inset 0 0 25px 0 var(--ram-color), 0 0 6px 0 var(--ram-color);
  border-radius: 20px;
}

#checkbox4:checked ~

.qu4 div:nth-child(2){
  display: block;
  
}


#checkbox4:checked ~

.qu4 div{
  border: none;
}

#checkbox4:checked ~

.qu4 img {
  transform: rotate(180deg);
}

#checkbox5:checked ~

.qu5{
  box-shadow: inset 0 0 25px 0 var(--ram-color), 0 0 6px 0 var(--ram-color);
  border-radius: 20px;
}

#checkbox5:checked ~

.qu5 div:nth-child(2){
  display: block;
  
}


#checkbox5:checked ~

.qu5 div{
  border: none;
}

#checkbox5:checked ~

.qu5 img {
  transform: rotate(180deg);
}

.support{
  margin-top: 108px;
}

.support__prev{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.support__prev-text{
  margin-bottom: 19.97px;
  font-size: 1rem;
  font-weight: 700;
}

.support__emails{
  word-spacing: 58px;
  
  margin: 0  auto;
}

.support__email{
  color: var(--buttom-color);
  font-size: 0.875rem;
  font-weight: 600;
}

.support__email:hover{
  background-color: transparent;
  text-decoration: underline;
  text-decoration: none;
  border-bottom: 1px var(--buttom-color) solid;
  transform: scale(110%);
 
}

.footer{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1160px;
  margin-top: 42.04px;
  margin-bottom: 22px;
  
}



.footer__line{
  display: flex;
  margin: 0 auto;
  
  height: 1px;
  background-color: gray;
  width: 1160px;
  max-width: 100%;
}

.footer__postline{
  margin-top: 27.32px;
  display: flex;
  justify-content: space-between;
}

.footer__hrefs{
  display: flex;
  width: 465px;
  height: 25.22px;
  text-align: center;
}

.footer__href{
  color: #03BAFE;
  font-size: 0.875rem;
  padding-left: 20px;
  font-weight: 600;
}



.social{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 259.17px;
  margin-left: auto;
}
.social__btn{
  border-radius: 100px;
  background: #F3F3F3;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28.71px;
  height: 30.17px;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
  
}


.social__btn::before  {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--buttom-color);
  position: absolute;
  bottom: -100%;
  border-radius: 100px;
  opacity: 0.5;
  transition: 0.3s;
  
  
}
.social__btn::after{
  transition-delay: 0.1s;
}

.social__btn:hover::before{
  bottom: 0;
}

.social__svg{
  z-index: 3;
}

.footer__end  {
  color: gray;
  display: flex;
  justify-content: center;
  margin-top: 54px;
}

.people{
  display: none;
}
